# EBAC - Regressão II - regressão múltipla

## Tarefa I

#### Previsão de renda II

Vamos continuar trabalhando com a base 'previsao_de_renda.csv', que é a base do seu próximo projeto. Vamos usar os recursos que vimos até aqui nesta base.

|variavel|descrição|
|-|-|
|data_ref                | Data de referência de coleta das variáveis |
|index                   | Código de identificação do cliente|
|sexo                    | Sexo do cliente|
|posse_de_veiculo        | Indica se o cliente possui veículo|
|posse_de_imovel         | Indica se o cliente possui imóvel|
|qtd_filhos              | Quantidade de filhos do cliente|
|tipo_renda              | Tipo de renda do cliente|
|educacao                | Grau de instrução do cliente|
|estado_civil            | Estado civil do cliente|
|tipo_residencia         | Tipo de residência do cliente (própria, alugada etc)|
|idade                   | Idade do cliente|
|tempo_emprego           | Tempo no emprego atual|
|qt_pessoas_residencia   | Quantidade de pessoas que moram na residência|
|renda                   | Renda em reais|

In [31]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge
from sklearn.metrics import r2_score

In [32]:
df = pd.read_csv('previsao_de_renda.csv')

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             15000 non-null  int64
 1   data_ref               15000 non-null  object
 2   id_cliente             15000 non-null  int64
 3   sexo                   15000 non-null  object
 4   posse_de_veiculo       15000 non-null  bool
 5   posse_de_imovel        15000 non-null  bool
 6   qtd_filhos             15000 non-null  int64
 7   tipo_renda             15000 non-null  object
 8   educacao               15000 non-null  object
 9   estado_civil           15000 non-null  object
 10  tipo_residencia        15000 non-null  object
 11  idade                  15000 non-null  int64
 12  tempo_emprego          12427 non-null  float64
 13  qt_pessoas_residencia  15000 non-null  float64
 14  renda                  15000 non-null  float64
dtypes: bool(2), float64(3), int64(4), object(6)
memory usage: 1.5+ MB

1. Separe a base em treinamento e teste (25% para teste, 75% para treinamento).
2. Rode uma regularização *ridge* com alpha = [0, 0.001, 0.005, 0.01, 0.05, 0.1] e avalie o $R^2$ na base de testes. Qual o melhor modelo?
3. Faça o mesmo que no passo 2, com uma regressão *LASSO*. Qual método chega a um melhor resultado?
4. Rode um modelo *stepwise*. Avalie o $R^2$ na vase de testes. Qual o melhor resultado?
5. Compare os parâmetros e avalie eventuais diferenças. Qual modelo você acha o melhor de todos?
6. Partindo dos modelos que você ajustou, tente melhorar o $R^2$ na base de testes. Use a criatividade, veja se consegue inserir alguma transformação ou combinação de variáveis.
7. Ajuste uma árvore de regressão e veja se consegue um $R^2$ melhor com ela.

In [34]:
#Separando
y = np.log(df["renda"])
X = df.drop(columns=["renda"])

In [35]:
#Tirando NA

df = df.dropna()

In [36]:
#Tirando NA

df.isna().sum().sort_values(ascending=False)

Unnamed: 0               0
data_ref                 0
id_cliente               0
sexo                     0
posse_de_veiculo         0
posse_de_imovel          0
qtd_filhos               0
tipo_renda               0
educacao                 0
estado_civil             0
tipo_residencia          0
idade                    0
tempo_emprego            0
qt_pessoas_residencia    0
renda                    0
dtype: int64

In [37]:
#transformando em dummie

X = pd.get_dummies(X, drop_first=True)

In [41]:
#Vende se tem NA no X

print("Total de NaN em X:", X.isna().sum().sum())
X.isna().sum().sort_values(ascending=False).head(10)

Total de NaN em X: 2573

tempo_emprego                   2573
Unnamed: 0                         0
educacao_Superior incompleto       0
tipo_renda_Bolsista                0
tipo_renda_Empresário              0
tipo_renda_Pensionista             0
tipo_renda_Servidor público        0
educacao_Pós graduação             0
educacao_Secundário                0
educacao_Superior completo         0
dtype: int64

In [42]:
#Tirando os Nas
X["tempo_emprego"] = X["tempo_emprego"].fillna(X["tempo_emprego"].median())

In [43]:
#dividindo entre treino e teste

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.25, random_state=42)

In [44]:
# Rodandi modelos Ridge
alphas = [0, 0.001, 0.005, 0.01, 0.05, 0.1]
r2_train, r2_test = [], []

In [45]:
for a in alphas:
    ridge = Ridge(alpha=a)
    ridge.fit(X_train, y_train)

    r2_train.append(ridge.score(X_train, y_train))
    r2_test.append(ridge.score(X_test, y_test))

In [46]:
resultados = pd.DataFrame({
    "alpha": alphas,
    "R2_treino": r2_train,
    "R2_teste": r2_test
})
display(resultados)

   alpha  R2_treino  R2_teste
0  0.000   0.347999  0.350983
1  0.001   0.347999  0.350983
2  0.005   0.347999  0.350983
3  0.010   0.347999  0.350984
4  0.050   0.347999  0.350988
5  0.100   0.347998  0.350993