# Livro para consulta:
- https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html
- https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html

# 1. Importando bibliotecas <a name="import"></a>

<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [164]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

# 2. Carregando o dataframe SINASC <a name="read"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [165]:
sinasc_raw = pd.read_csv(r'C:\Users\felip\OneDrive\Ebac\Groupby, aggregate e mapping\tdD 3 - agregagões e operações em grupo\Profissão Cientista de Dados M9 A1 - SINASC_RO_2019.csv')
sinasc_raw.head()

,ORIGEM,CODESTAB,CODMUNNASC,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,CODOCUPMAE,QTDFILVIVO,QTDFILMORT,...,KOTELCHUCK,CONTADOR,munResStatus,munResTipo,munResNome,munResUf,munResLat,munResLon,munResAlt,munResArea
0,1,2679477.0,110001,1,19,5.0,8 a 11 anos,NaN,0.0,0.0,...,5,1,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
1,1,2679477.0,110001,1,29,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,2,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
2,1,2679477.0,110001,1,37,9.0,8 a 11 anos,513205.0,2.0,0.0,...,5,3,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
3,1,2516500.0,110001,1,30,5.0,12 anos ou mais,231205.0,0.0,0.0,...,4,4,ATIVO,MUNIC,Alto Alegre dos Parecis,Rondônia,-12.13178,-61.85308,397.0,3958.273
4,1,2516500.0,110001,1,30,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,5,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025

In [166]:
sinasc_raw.columns

Index(['ORIGEM', 'CODESTAB', 'CODMUNNASC', 'LOCNASC', 'IDADEMAE', 'ESTCIVMAE',
       'ESCMAE', 'CODOCUPMAE', 'QTDFILVIVO', 'QTDFILMORT', 'CODMUNRES',
       'GESTACAO', 'GRAVIDEZ', 'PARTO', 'CONSULTAS', 'DTNASC', 'HORANASC',
       'SEXO', 'APGAR1', 'APGAR5', 'RACACOR', 'PESO', 'IDANOMAL', 'DTCADASTRO',
       'CODANOMAL', 'NUMEROLOTE', 'VERSAOSIST', 'DTRECEBIM', 'DIFDATA',
       'DTRECORIGA', 'NATURALMAE', 'CODMUNNATU', 'CODUFNATU', 'ESCMAE2010',
       'SERIESCMAE', 'DTNASCMAE', 'RACACORMAE', 'QTDGESTANT', 'QTDPARTNOR',
       'QTDPARTCES', 'IDADEPAI', 'DTULTMENST', 'SEMAGESTAC', 'TPMETESTIM',
       'CONSPRENAT', 'MESPRENAT', 'TPAPRESENT', 'STTRABPART', 'STCESPARTO',
       'TPNASCASSI', 'TPFUNCRESP', 'TPDOCRESP', 'DTDECLARAC', 'ESCMAEAGR1',
       'STDNEPIDEM', 'STDNNOVA', 'CODPAISRES', 'TPROBSON', 'PARIDADE',
       'KOTELCHUCK', 'CONTADOR', 'munResStatus', 'munResTipo', 'munResNome',
       'munResUf', 'munResLat', 'munResLon', 'munResAlt', 'munResArea'],
      dtype='object')

In [167]:
sinasc_raw['munResLat'].dtype

dtype('float64')

# Tarefa 2

### 1. Crie 2 faixas de Latitude do município (munResLat) sendo uma acima e outra abaixo de -10.5 e aplique o groupby usando essas faixas como chave e realize operações de soma, media, minimo, maximo, mediana, desvio padrao, variancia pra pelo menos 2 variáveis numéricas ainda não utilizadas

In [168]:
latitude_faixa = pd.cut(sinasc_raw['munResLat'], [-100, -10.5, 0], labels=['< -10.5', '>= -10.5'])
sinasc_raw.pivot_table('munResLat', latitude_faixa)

           munResLat
munResLat
< -10.5   -11.612001
>= -10.5   -9.235509

In [169]:
sinasc_raw.groupby(latitude_faixa)[['IDADEPAI', 'QTDFILVIVO']].agg(['mean', 'sum', 'min', 'max', 'median'])

C:\Users\felip\AppData\Local\Temp\ipykernel_4464\699279083.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  sinasc_raw.groupby(latitude_faixa)[['IDADEPAI', 'QTDFILVIVO']].agg(['mean', 'sum', 'min', 'max', 'median'])

            IDADEPAI                              QTDFILVIVO                \
                mean       sum   min   max median       mean      sum  min
munResLat
< -10.5    30.903145  198460.0  15.0  86.0   30.0   0.980011  12600.0  0.0
>= -10.5   32.126689   38038.0  16.0  73.0   31.0   1.129317  14226.0  0.0


            max median
munResLat
< -10.5    30.0    1.0
>= -10.5   12.0    1.0

### 2. Crie 2 faixas da área dos municípios (munResArea) sendo uma acima e outra abaixo de 3000 e aplique o groupby usando essas faixas como chave e realize operações de soma, media, minimo, maximo, mediana, desvio padrao, variancia pra pelo menos 2 variáveis numéricas ainda não utilizadas

In [170]:
sinasc_raw['munResArea'].dtype

dtype('float64')

In [171]:
faixa_area = pd.cut(
    sinasc_raw['munResArea'],
    bins=[
        sinasc_raw['munResArea'].min(),
        3000,
        sinasc_raw['munResArea'].max()
    ],
    labels=['Abaixo de 3000', 'Acima de 3000']
)

sinasc_raw.groupby(faixa_area)[['QTDFILMORT', 'APGAR1']].agg(['mean', 'sum', 'min', 'max', 'median', 'std', 'var'])

C:\Users\felip\AppData\Local\Temp\ipykernel_4464\1211054640.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  sinasc_raw.groupby(faixa_area)[['QTDFILMORT', 'APGAR1']].agg(['mean', 'sum', 'min', 'max', 'median', 'std', 'var'])

               QTDFILMORT                                                \
                     mean     sum  min   max median       std       var
munResArea
Abaixo de 3000   0.245328  1247.0  0.0   4.0    0.0  0.552102  0.304816
Acima de 3000    0.272116  5383.0  0.0  28.0    0.0  0.629081  0.395743

                  APGAR1
                    mean       sum  min   max median       std       var
munResArea
Abaixo de 3000  8.074218   41558.0  0.0  10.0    8.0  1.009443  1.018976
Acima de 3000   8.152808  177079.0  0.0  10.0    8.0  0.978517  0.957495

### 3. Determine faixas na variável munResAlt e aplique o groupby usando essas faixas como chave e realize operações de soma, media, minimo, maximo, mediana, desvio padrao, variancia pra pelo menos 2 variáveis numéricas ainda não utilizadas

In [172]:
faixa_alt = pd.cut(sinasc_raw['munResAlt'],
                   bins=[sinasc_raw['munResAlt'].min(),
                         sinasc_raw['munResAlt'].mean(),
                         sinasc_raw['munResAlt'].max()],
                   labels =["Abaixo da média", 'Acima da média'])

In [173]:
sinasc_raw['GESTACAO'].head

<bound method NDFrame.head of 0        37 a 41 semanas
1        37 a 41 semanas
2        37 a 41 semanas
3        37 a 41 semanas
4        37 a 41 semanas
              ...
27023    32 a 36 semanas
27024    37 a 41 semanas
27025    37 a 41 semanas
27026    32 a 36 semanas
27027    37 a 41 semanas
Name: GESTACAO, Length: 27028, dtype: object>

In [174]:
sinasc_raw.groupby(faixa_alt)[['APGAR5', 'IDADEPAI', 'QTDFILVIVO']].agg(['sum', 'mean', 'min', 'max'])

C:\Users\felip\AppData\Local\Temp\ipykernel_4464\2361262549.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  sinasc_raw.groupby(faixa_alt)[['APGAR5', 'IDADEPAI', 'QTDFILVIVO']].agg(['sum', 'mean', 'min', 'max'])

                   APGAR5                       IDADEPAI                   \
                      sum      mean  min   max       sum       mean   min
munResAlt
Abaixo da média  172306.0  9.195538  0.0  10.0  117580.0  31.337953  15.0
Acima da média    71757.0  9.136364  0.0  10.0  118350.0  30.860495  16.0

                      QTDFILVIVO
                  max        sum      mean  min   max
munResAlt
Abaixo da média  73.0    19090.0  1.098389  0.0  14.0
Acima da média   86.0     7303.0  0.939655  0.0  30.0

### 4. Plote no mesmo grafico ao longo do tempo a idade media das mulheres de cada regiao imediatas de rondonia

In [175]:
imediatas = {
    "Candeias do Jamari": "Porto Velho",
    "Guajará-Mirim": "Porto Velho",
    "Itapuã do Oeste": "Porto Velho",
    "Nova Mamoré": "Porto Velho",
    "Porto Velho": "Porto Velho",
    "Ariquemes": "Ariquemes",
    "Alto Paraíso": "Ariquemes",
    "Buritis": "Ariquemes",
    "Cacaulândia": "Ariquemes",
    "Campo Novo de Rondônia": "Ariquemes",
    "Cujubim": "Ariquemes",
    "Monte Negro": "Ariquemes",
    "Rio Crespo": "Ariquemes",
    "Jaru": "Jaru",
    "Governador Jorge Teixeira": "Jaru",
    "Machadinho D'Oeste": "Jaru",
    "Theobroma": "Jaru",
    "Vale do Anari": "Jaru",
    "Alvorada D'Oeste": "Ji-Paraná",
    "Costa Marques": "Ji-Paraná",
    "Ji-Paraná": "Ji-Paraná",
    "Mirante da Serra": "Ji-Paraná",
    "Nova União": "Ji-Paraná",
    "Ouro Preto do Oeste": "Ji-Paraná",
    "Presidente Médici": "Ji-Paraná",
    "São Francisco do Guaporé": "Ji-Paraná",
    "São Miguel do Guaporé": "Ji-Paraná",
    "Seringueiras": "Ji-Paraná",
    "Teixeirópolis": "Ji-Paraná",
    "Urupá": "Ji-Paraná",
    "Vale do Paraíso": "Ji-Paraná",
    "Cacoal": "Cacoal",
    "Alta Floresta D'Oeste": "Cacoal",
    "Alto Alegre dos Parecis": "Cacoal",
    "Castanheiras": "Cacoal",
    "Espigão D'Oeste": "Cacoal",
    "Ministro Andreazza": "Cacoal",
    "Nova Brasilândia D'Oeste": "Cacoal",
    "Novo Horizonte do Oeste": "Cacoal",
    "Parecis": "Cacoal",
    "Pimenta Bueno": "Cacoal",
    "Primavera de Rondônia": "Cacoal",
    "Rolim de Moura": "Cacoal",
    "Santa Luzia D'Oeste": "Cacoal",
    "São Felipe D'Oeste": "Cacoal",
    "Vilhena": "Vilhena",
    "Cabixi": "Vilhena",
    "Cerejeiras": "Vilhena",
    "Chupinguaia": "Vilhena",
    "Colorado do Oeste": "Vilhena",
    "Corumbiara": "Vilhena",
    "Pimenteiras do Oeste": "Vilhena"
}

In [176]:
sinasc_raw.groupby(sinasc_raw['munResNome'].map(imediatas))[['IDADEMAE','CONSULTAS']].agg('mean').round(0)

             IDADEMAE  CONSULTAS
munResNome
Ariquemes        25.0        4.0
Cacoal           26.0        4.0
Jaru             26.0        4.0
Ji-Paraná        26.0        4.0
Porto Velho      26.0        3.0
Vilhena          26.0        4.0

In [177]:
sinasc_raw['munResNome'].value_counts()

munResNome
Porto Velho                  8437
Ji-Paraná                    2182
Ariquemes                    1729
Vilhena                      1590
Cacoal                       1374
Rolim de Moura                927
Jaru                          881
Guajará-Mirim                 781
Ouro Preto do Oeste           631
Pimenta Bueno                 616
Buritis                       583
Machadinho D'Oeste            500
Espigão D'Oeste               450
Nova Mamoré                   432
Alta Floresta D'Oeste         367
São Miguel do Guaporé         353
Candeias do Jamari            337
Presidente Médici             304
São Francisco do Guaporé      303
Nova Brasilândia D'Oeste      261
Cerejeiras                    237
Costa Marques                 233
Alto Paraíso                  226
Colorado do Oeste             214
Alvorada D'Oeste              205
Cujubim                       205
Monte Negro                   199
Urupá                         170
Seringueiras                  168
Campo Novo de Rondônia        166
Mirante da Serra              164
Chupinguaia                   162
Alto Alegre dos Parecis       154
Corumbiara                    127
Governador Jorge Teixeira     112
Itapuã do Oeste               109
Nova União                    104
Santa Luzia D'Oeste            99
Novo Horizonte do Oeste        98
Theobroma                      97
Vale do Anari                  93
Ministro Andreazza             84
Vale do Paraíso                81
Cabixi                         80
Cacaulândia                    75
Teixeirópolis                  64
São Felipe D'Oeste             54
Rio Crespo                     50
Parecis                        44
Primavera de Rondônia          43
Pimenteiras do Oeste           40
Castanheiras                   32
Município ignorado - RO         1
Name: count, dtype: int64

### 5. Utilize a tabela do link abaixo e crie faixas utilizando o mapping e gere agrupamentos utilizando essas faixas como chave

### 5.1 IDH
A - https://pt.wikipedia.org/wiki/Lista_de_munic%C3%ADpios_de_Rond%C3%B4nia_por_IDH-M

In [178]:
idh_municipios = {
    "Porto Velho": 0.736,
    "Vilhena": 0.731,
    "Cacoal": 0.718,
    "Ji-Paraná": 0.714,
    "Pimenta Bueno": 0.710,
    "Ariquemes": 0.702,
    "Rolim de Moura": 0.700,
    "Cerejeiras": 0.692,
    "Jaru": 0.689,
    "Colorado do Oeste": 0.685,
    "Ouro Preto do Oeste": 0.682,
    "Espigão D'Oeste": 0.672,
    "Santa Luzia D'Oeste": 0.670,
    "Pimenteiras do Oeste": 0.665,
    "Presidente Médici": 0.664,
    "Castanheiras": 0.658,
    "Guajará-Mirim": 0.657,
    "Chupinguaia": 0.652,
    "Cabixi": 0.650,
    "Candeias do Jamari": 0.649,
    "São Felipe D'Oeste": 0.649,
    "Cacaulândia": 0.646,
    "São Miguel do Guaporé": 0.646,
    "Mirante da Serra": 0.643,
    "Alvorada D'Oeste": 0.643,
    "Teixeirópolis": 0.643,
    "Nova Brasilândia D'Oeste": 0.643,
    "Rio Crespo": 0.643,
    "Primavera de Rondônia": 0.641,
    "Alta Floresta D'Oeste": 0.641,
    "Ministro Andreazza": 0.638,
    "Novo Horizonte do Oeste": 0.634,
    "Vale do Paraíso": 0.627,
    "Alto Paraíso": 0.625,
    "Parecis": 0.617,
    "Buritis": 0.616,
    "Itapuã do Oeste": 0.614,
    "Corumbiara": 0.613,
    "Cujubim": 0.612,
    "Costa Marques": 0.611,
    "São Francisco do Guaporé": 0.611,
    "Urupá": 0.609,
    "Monte Negro": 0.607,
    "Seringueiras": 0.598,
    "Governador Jorge Teixeira": 0.596,
    "Machadinho D'Oeste": 0.596,
    "Campo Novo de Rondônia": 0.593,
    "Alto Alegre dos Parecis": 0.592,
    "Theobroma": 0.589,
    "Nova União": 0.587,
    "Nova Mamoré": 0.587,
    "Vale do Anari": 0.584
}

In [179]:

sinasc_raw['IDHM'] = sinasc_raw['munResNome'].map(idh_municipios)

In [180]:
faixa_idh = pd.cut(sinasc_raw['IDHM'], bins=[0, 0.607, 0.692, 1], labels=['Baixo', 'Médio', 'Alto'])

sinasc_raw.groupby(faixa_idh)[["IDADEMAE","PESO"]].mean()

C:\Users\felip\AppData\Local\Temp\ipykernel_4464\1157891604.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  sinasc_raw.groupby(faixa_idh)[["IDADEMAE","PESO"]].mean()

        IDADEMAE         PESO
IDHM
Baixo  25.358519  3230.041481
Médio  25.890635  3241.428624
Alto   26.280332  3245.623791

In [181]:
sinasc_raw.columns

Index(['ORIGEM', 'CODESTAB', 'CODMUNNASC', 'LOCNASC', 'IDADEMAE', 'ESTCIVMAE',
       'ESCMAE', 'CODOCUPMAE', 'QTDFILVIVO', 'QTDFILMORT', 'CODMUNRES',
       'GESTACAO', 'GRAVIDEZ', 'PARTO', 'CONSULTAS', 'DTNASC', 'HORANASC',
       'SEXO', 'APGAR1', 'APGAR5', 'RACACOR', 'PESO', 'IDANOMAL', 'DTCADASTRO',
       'CODANOMAL', 'NUMEROLOTE', 'VERSAOSIST', 'DTRECEBIM', 'DIFDATA',
       'DTRECORIGA', 'NATURALMAE', 'CODMUNNATU', 'CODUFNATU', 'ESCMAE2010',
       'SERIESCMAE', 'DTNASCMAE', 'RACACORMAE', 'QTDGESTANT', 'QTDPARTNOR',
       'QTDPARTCES', 'IDADEPAI', 'DTULTMENST', 'SEMAGESTAC', 'TPMETESTIM',
       'CONSPRENAT', 'MESPRENAT', 'TPAPRESENT', 'STTRABPART', 'STCESPARTO',
       'TPNASCASSI', 'TPFUNCRESP', 'TPDOCRESP', 'DTDECLARAC', 'ESCMAEAGR1',
       'STDNEPIDEM', 'STDNNOVA', 'CODPAISRES', 'TPROBSON', 'PARIDADE',
       'KOTELCHUCK', 'CONTADOR', 'munResStatus', 'munResTipo', 'munResNome',
       'munResUf', 'munResLat', 'munResLon', 'munResAlt', 'munResArea',
       'IDHM'],
      dtype='object')

### 5.2 IFDM
B - https://pt.wikipedia.org/wiki/Lista_de_munic%C3%ADpios_de_Rond%C3%B4nia_por_IFDM

In [182]:
ifdm_municipios = {
    "Ariquemes": 0.7746,
    "Vilhena": 0.7465,
    "Pimenta Bueno": 0.7383,
    "Porto Velho": 0.7257,
    "Ji-Paraná": 0.7117,
    "Cacoal": 0.7111,
    "Santa Luzia D'Oeste": 0.6850,
    "Rolim de Moura": 0.6785,
    "Chupinguaia": 0.6766,
    "São Miguel do Guaporé": 0.6699,
    "Pimenteiras do Oeste": 0.6501,
    "Teixeirópolis": 0.6500,
    "Colorado do Oeste": 0.6473,
    "Jaru": 0.6450,
    "Rio Crespo": 0.6430,
    "Primavera de Rondônia": 0.6384,
    "Alta Floresta D'Oeste": 0.6337,
    "Ouro Preto do Oeste": 0.6261,
    "São Francisco do Guaporé": 0.6214,
    "Candeias do Jamari": 0.6199,
    "São Felipe D'Oeste": 0.6153,
    "Presidente Médici": 0.6140,
    "Cerejeiras": 0.6137,
    "Monte Negro": 0.6016,
    "Urupá": 0.6006,
    "Espigão D'Oeste": 0.5973,
    "Seringueiras": 0.5922,
    "Alvorada D'Oeste": 0.5919,
    "Itapuã do Oeste": 0.5903,
    "Cabixi": 0.5887,
    "Novo Horizonte do Oeste": 0.5858,
    "Nova Brasilândia D'Oeste": 0.5857,
    "Vale do Paraíso": 0.5818,
    "Corumbiara": 0.5759,
    "Alto Paraíso": 0.5735,
    "Cacaulândia": 0.5721,
    "Vale do Anari": 0.5710,
    "Ministro Andreazza": 0.5657,
    "Costa Marques": 0.5626,
    "Nova União": 0.5571,
    "Guajará-Mirim": 0.5541,
    "Mirante da Serra": 0.5519,
    "Parecis": 0.5502,
    "Castanheiras": 0.5430,
    "Theobroma": 0.5405,
    "Machadinho D'Oeste": 0.5322,
    "Campo Novo de Rondônia": 0.5272,
    "Nova Mamoré": 0.5084,
    "Cujubim": 0.5055,
    "Alto Alegre dos Parecis": 0.5046,
    "Governador Jorge Teixeira": 0.4562
}

In [183]:
sinasc_raw['IFDM'] = sinasc_raw['munResNome'].map(ifdm_municipios)

In [184]:
sinasc_raw['faixa_IFDM'] = pd.cut(
    sinasc_raw['IFDM'],
    bins=[0, 0.4562, 0.5973, 1],
    labels=["Desenvolvimento baixo", "Desenvolvimento médio", "Desenvolvimento alto"]
)

In [185]:
sinasc_raw.groupby('faixa_IFDM')[["IDADEMAE",'IDADEPAI']].mean()

C:\Users\felip\AppData\Local\Temp\ipykernel_4464\4027950971.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  sinasc_raw.groupby('faixa_IFDM')[["IDADEMAE",'IDADEPAI']].mean()

                        IDADEMAE   IDADEPAI
faixa_IFDM
Desenvolvimento baixo  24.401786  29.222222
Desenvolvimento médio  25.560676  31.250729
Desenvolvimento alto   26.241258  31.064275

### 5.3 PIB
C - https://pt.wikipedia.org/wiki/Lista_de_munic%C3%ADpios_de_Rond%C3%B4nia_por_PIB

In [186]:
pib_municipios = {
    "Porto Velho": 20059522,
    "Ji-Paraná": 4231113,
    "Vilhena": 4215046,
    "Ariquemes": 3209761,
    "Cacoal": 2792383,
    "Jaru": 1765089,
    "Pimenta Bueno": 1642516,
    "Rolim de Moura": 1565194,
    "Guajará-Mirim": 1054179,
    "Ouro Preto do Oeste": 985868,
    "Buritis": 966552,
    "São Miguel do Guaporé": 905335,
    "Machadinho D'Oeste": 890320,
    "Espigão D'Oeste": 773381,
    "Cerejeiras": 743037,
    "Nova Mamoré": 742687,
    "Alta Floresta D'Oeste": 734469,
    "Candeias do Jamari": 655606,
    "Presidente Médici": 559990,
    "Nova Brasilândia D'Oeste": 548734,
    "Alto Paraíso": 510361,
    "São Francisco do Guaporé": 488043,
    "Cujubim": 487480,
    "Alto Alegre dos Parecis": 483672,
    "Chupinguaia": 468793,
    "Colorado do Oeste": 424807,
    "Corumbiara": 396728,
    "Monte Negro": 389891,
    "Campo Novo de Rondônia": 369377,
    "Alvorada D'Oeste": 352628,
    "Seringueiras": 332987,
    "Costa Marques": 316671,
    "Ministro Andreazza": 297878,
    "Cacaulândia": 275338,
    "Urupá": 273501,
    "Mirante da Serra": 262640,
    "Theobroma": 257426,
    "Pimenteiras do Oeste": 246209,
    "Governador Jorge Teixeira": 239330,
    "Cabixi": 238412,
    "Novo Horizonte do Oeste": 231502,
    "Vale do Anari": 220588,
    "Santa Luzia D'Oeste": 213556,
    "Itapuã do Oeste": 210031,
    "Vale do Paraíso": 185648,
    "Rio Crespo": 184430,
    "Nova União": 157321,
    "Parecis": 155434,
    "São Felipe D'Oeste": 130676,
    "Teixeirópolis": 121301,
    "Primavera de Rondônia": 107030,
    "Castanheiras": 99627
}
sinasc_raw["PIB"] = sinasc_raw["munResNome"].map(pib_municipios)

In [187]:
sinasc_raw.groupby(
    pd.cut(
        sinasc_raw["PIB"],
        bins=[sinasc_raw["PIB"].min(), sinasc_raw["PIB"].mean(), sinasc_raw["PIB"].max()],
        labels=["Abaixo da média", "Acima da média"]
    )
)[["IDADEMAE", "QTDGESTANT"]].agg(["mean", "median", "std"])

C:\Users\felip\AppData\Local\Temp\ipykernel_4464\3359806139.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  sinasc_raw.groupby(

                  IDADEMAE                  QTDGESTANT
                      mean median       std       mean median       std
PIB
Abaixo da média  25.992241   25.0  6.311484   1.207000    1.0  1.382024
Acima da média   26.312670   26.0  6.549074   1.443414    1.0  1.445156

### Analise as respostas encontradas, tire algum insight delas, conte pra gente algo encontrado nos dados.

In [188]:
sinasc_raw.columns

Index(['ORIGEM', 'CODESTAB', 'CODMUNNASC', 'LOCNASC', 'IDADEMAE', 'ESTCIVMAE',
       'ESCMAE', 'CODOCUPMAE', 'QTDFILVIVO', 'QTDFILMORT', 'CODMUNRES',
       'GESTACAO', 'GRAVIDEZ', 'PARTO', 'CONSULTAS', 'DTNASC', 'HORANASC',
       'SEXO', 'APGAR1', 'APGAR5', 'RACACOR', 'PESO', 'IDANOMAL', 'DTCADASTRO',
       'CODANOMAL', 'NUMEROLOTE', 'VERSAOSIST', 'DTRECEBIM', 'DIFDATA',
       'DTRECORIGA', 'NATURALMAE', 'CODMUNNATU', 'CODUFNATU', 'ESCMAE2010',
       'SERIESCMAE', 'DTNASCMAE', 'RACACORMAE', 'QTDGESTANT', 'QTDPARTNOR',
       'QTDPARTCES', 'IDADEPAI', 'DTULTMENST', 'SEMAGESTAC', 'TPMETESTIM',
       'CONSPRENAT', 'MESPRENAT', 'TPAPRESENT', 'STTRABPART', 'STCESPARTO',
       'TPNASCASSI', 'TPFUNCRESP', 'TPDOCRESP', 'DTDECLARAC', 'ESCMAEAGR1',
       'STDNEPIDEM', 'STDNNOVA', 'CODPAISRES', 'TPROBSON', 'PARIDADE',
       'KOTELCHUCK', 'CONTADOR', 'munResStatus', 'munResTipo', 'munResNome',
       'munResUf', 'munResLat', 'munResLon', 'munResAlt', 'munResArea', 'IDHM',
       'IFDM', 'faixa_IFDM', 'PIB'],
      dtype='object')

Exemplo:
- Ah, descobri que a idade mediana das mulheres que deram a luz no ano de 2019 dos municipios com o PIB mais alto é a maior dentre todas.

- Em cidades com latitude inferior a -10.5, em média, os pais são 2 anos mais novos, e também tem uma média de filhos ligeiramente menor. 

- Quando olhamos o IDHM, quanto maior, maior a idade média das mães
    O peso médio dos bebês é levemente maior em áreas com IDHM médio e alto.

- Pais e mães têm filhos mais cedo em municípios com IFDM mais baixo.
    Nos municípios com IFDM alto, as mães têm filhos com média de 26 anos, enquanto nos de IFDM baixo a média é 24 anos, e a idade média dos pais também acompanha a tendência, já que quanto maior o IFDM, maior a idade média.

- Maes em municípios com maior PIB tendem a ter filhos um pouco mais tarde.
    A quantidade de gestações por mãe é ligeiramente maior em municípios com PIB acima da média.